<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vivant.annecharlotte.mynews">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Controller.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- childs of the main activity -->

        <activity
            android:name=".Controller.SearchWindowActivity"
            android:label="Detail"
            android:parentActivityName=".Controller.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MainActivity" />
        </activity>
        <activity
            android:name=".Controller.NotificationWindowActivity"
            android:label="Detail"
            android:parentActivityName=".Controller.MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Controller.MainActivity" />
        </activity>
        <activity
            android:name=".Views.WebViewActivity"
            android:label="@string/title_activity_web_view"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Controller.SearchResultsActivity"
            android:label="@string/title_activity_results_search"
            android:theme="@style/AppTheme" />

        <receiver android:name=".Utils.AlertReceiver" />

        <activity
            android:name=".Controller.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>